# Виртуальное окружение
venv/
.venv/
env/

# Секреты
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Сборка
build/
dist/
*.egg-info/
.build/

# IDE
.vscode/
.idea/

# settings & logs
.vortex_settings.json
.vortex_history